body {
  height: 100%;
  font-family: "Rozha One", serif;
}

.header {
  background: repeating-linear-gradient(
    45deg,
    rgb(123, 219, 213),
    #acecee 10px,
    #ddfdff 10px,
    #b8f0f1 30px
  );
  border: 1px solid black;
  font-weight: bold;
}
.schedule {
  margin-bottom: 15px;
  border: 1px solid black;
}

.schedule_header {
  width: 100%;
  background: repeating-linear-gradient(
    45deg,
    rgb(123, 219, 213),
    #acecee 10px,
    #ddfdff 10px,
    #b8f0f1 30px
  );
}

thead {
  font-size: 140%;
}

.user_form {
  border: 1px solid black;
  margin-bottom: 50px;
}

.form_paragraph {
  padding: 8px 0px 0px 15px;
}

.form_input {
  margin: 0px 15px 0px 15px;
}

#form_button {
  width: 75px;
  margin: 10px 0px 10px 15px;
  color: black;
  background: repeating-linear-gradient(
    45deg,
    rgb(123, 219, 213),
    #acecee 10px,
    #ddfdff 10px,
    #b8f0f1 30px
  );
}
